
@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);


 body{
background-image: url(images/pic7.jpg);
background-repeat:no-repeat;
background-size:cover; 
font-family: "Times New Roman", Times, serif, Verdana;
}

#container1{
  margin-top: 0rem;
}


#basic-information{
background-color:antiquewhite;
font-family:arial;
font-size:1.3rem;
line-height:1.8rem;
padding:2rem;
text-align:justify;
margin-bottom: 1rem;
text-decoration: wavy;
}

#basic-information1{

font-family:arial;
font-size:1.1rem;
line-height:1.4rem;
padding:1rem;
text-align:justify;
margin-bottom: 1rem;
text-decoration: wavy;
}



#basic-information-title{
background-color:burlywood;
padding: 1rem;
font-weight: bold;
text-decoration: wavy;
}

#basic-information-title1{
background-color:aqua;
padding: 1rem;
font-weight: bold;
font-family: Verdana;
text-decoration: wavy;
}


#last-info{
margin-bottom: 16rem;
}

#buttons{
background-color: orangered;
color: white;
text-decoration: solid;
font-weight: bold;
}


#firstCard{
padding: 3rem;
background-image: url(images/pic9.jpg);
color: red;
text-decoration-color: #512DA8;
font-weight: bold;
font-family: 'Cherry Swash';
font-size: 20rem;
}

#card-title1{
font-size:3rem;
color: blue;
font-weight: bold;
}


footer{
background-color: #512DA8;
margin:0px auto;
padding: 20px 0px 20px 0px;
font-weight: bold;
color: white;
text-decoration: none;
}

.card{
  padding: 2rem;
  
} 

.global-container{
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.welcome{
  padding: 3rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: 'Cherry Swash';
  font-size: 15rem;
} 


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-contact {
  margin-top: 2rem;
  margin:auto;
  border-radius: 5px;
  background-color:lightgoldenrodyellow;
  padding: 20px;
}

.contact{
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.succes-msg{
  background-color:aqua;
  padding: 2rem;
  margin-top: 10rem;
  margin-left: 3rem;
  font-weight: bold;
  
}




/* ***************************************************       left bar css                 ******************************************* */

